#headline {
    color: blue;
    background: url('../css/images/stockholm.png') no-repeat center center;
    background-size: auto;
    background-size: 1200px 800px;
    padding-top: 50px;
}

.headline-landingpage{
    text-align: center;
}

.card-title{
    text-align: center;
}


#footer{
    background-color:rgb(32, 31, 31);
    padding-top: 50px;
    margin-top: 50px;
}

.signup-content {
    text-align: center;
}
    
#signupheadline{
    text-align: center;
}