{% extends "base.html" %}

{% block content %}

  
<div id="headline" class="container-fluid bg-3 text-center">    
  <h3>Visit some of Stockholms popular resturants!</h3><br>
  <div class="card" style="width: 10rem;">
    <img class="card-img-top" src="../static/css/images/res-AG.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Resturant AG</h5>
      <a href="#" class="btn btn-primary">Click Here</a>
    </div>
    <div class="card" style="width: 10rem;">
      <img class="card-img-top" src="../static/css/images/sushi sho.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sushi Sho</h5>
        <a href="#" class="btn btn-primary">Click Here</a>
      </div>
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../static/css/images/lilla ego.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Lilla Ego</h5>
          <a href="#" class="btn btn-primary">Click Here</a>
        </div>
        <div class="card" style="width: 10rem;">
          <img class="card-img-top" src="../static/css/images/Spesso.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Spesso</h5>
            <a href="#" class="btn btn-primary">Click Here</a>
          </div>
  </div>
</div>

{% endblock content %}

 